name: TEST

on:
  push:
   branches: 
    - main


jobs:
  build:
    name: Test
    runs-on: ubuntu-latest

    steps:
      
      - name: Checkout code
        uses: actions/checkout@v4git a
      - name: Install dependencies 
        run: sudo apt-get update && sudo apt-get install -y cmake g++
      - name: Run tests
        run: cd tests/test && g++ test.cpp -o test && ./test
             
       